<!DOCTYPE html>
<html lang="en">
<head>
  <!-- adding meta file -->
  <%- await include('components/meta.html')%>
  <title>Perah Hashchunot</title>
</head>

<body>
  <!-- adding header file -->
  <%- await include('components/header.html')%>

<!--------------------------------------------------------------------------------------------------------------------------------->
<div class="aboutUs"> <br><br>
  <h1> About Us</h1>

  <p class="aboutUsP">
  Perah-Hashchunot has been owned by the Teapacks family<br> 
  for several generations.<br>
  The store is located in Be'er Sheva but has deliveries <br>
  all over the country. <br>
  At the site and the nursery you can enjoy the variety of carefully designed<br> 
  bouquets and Plenty of our well-kept flower plants.<br>
  Among our various products you can find various bouquets, flower plants,<br>
  head bouquets and bouquets for events.<br>
  Our uniqueness is bouquets in personal assembly,<br> we save you the arrival of the variable
  and you can create a bouquets as you see fit,<br>
  Combine a variety of flowers and create the perfect bouquet for you!<br>
  Another thing you can find with us at Perah-Hashchuno of Be'er Sheva<br>
  are flower arrangements, in all sizes and of all species. <br> <br> 
  Waiting for you <br>
  Perah-Hashchunot<br>
  </p>
     </div>

  <!------------------------------------------------------------------------------------------------------------------------------------->

  <!-- adding footer file -->  
  <%- await  include('components/footer.html') %>

</body>
</html>